@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
body{
  font-family: "Inter", sans-serif;
}
/* Scrollbar tamamen gizleme */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari ve Edge */
}


.scrollbar-hide {
  -ms-overflow-style: none; /* IE ve eski Edge */
  scrollbar-width: none; /* Firefox */
}
